* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background: url(vegies4.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #63164c;
}

form {
  display:block;
  position:relative;
  width:700px;
  height: 580px;
  background:#395144;
  margin: 50px auto;
  padding:50px;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 #F0EBCE;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.input {
  margin: 45px 0 25px;
  position: relative;
}

.input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F0EBCE;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 3px;
  width: 100%;
}

.input label {
  color: #63164c;
  display: block;
  position: absolute;
  top: -20px;

}
.input input:not(:focus):placeholder-shown + label {
  color: #818181;
  top: 10px;
}


h2 {
  font-size: 60px;
}

button {
  border: 2px solid #63164c;
  background-color: transparent;
  cursor: pointer;
  float: right;
  height: 40px;
  width: 124px;
  font-size: 20px;
  border-radius: 20px;
  color: #395144;
}

button:hover {
  border: none;
  background-color: #63164c;
  Color: #fffff;
}